<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
</head>
<body>
    <h1>Admin Login</h1>
    <!--Send POST request to /admin_login, handled in backend and returns /admin if the password is correct-->
    <!--If the password is incorrect the text "Invalid password" is returned-->
    <form method="POST">
        <input type="password" name="password" required>
        <input type="submit" value="Login">
    </form> 
</body>
</html>